<h1>Edit Password</h1>

<!-- this form takes the model 'Current.user' instead of 'User.new' because the user is currently logged in -->
<%= form_with model: Current.user, url: edit_password_path do |f|%>
  <!-- inside the form, we can refer to the object used by the form, to see if there is any error, like 'Validation failed'. -->
  <% if f.object.errors.any? %>
    <div class="alert alert-danger">
      <% f.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>      
      <% end %>      
    </div>
  <% end %>  

  <div class="form-group mb-2">
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password,class: 'form-control', placeholder: 'Password' %>
  </div>
  <div class="form-group mb-2">
    <%= f.label :password_confirmation, 'Password confirmation' %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password confirmation' %>
  </div>
  <div>
    <%= f.submit 'Update Password', class: 'btn btn-primary mt-2', disable_with: 'Submiting...' %>
  </div>
<% end %>